@model Urun

@{
    ViewBag.Title = "UrunGuncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Ürün Yönetimi
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Ürün Güncelle</h3>
                            </div>
                            <!-- /.box-header -->
                            @if (ViewBag.Sonuc != null)
                            {
                                if (ViewBag.Sonuc)
                                {
                                    <h2>Ürün bulunamadı</h2>
                                    @Html.ActionLink("Ürün Listesine Geri Dön", "UrunleriListele")
                                }
                                else
                                {
                                    <h2>Güncelleme İşlemi Başarı İle Gerçekleştirilmiştir.</h2>
                                    @Html.ActionLink("Ürün Listesine Geri Dön", "UrunleriListele")
                                }
                            }
                            else
                            {
                                <h2>@Model.Ad Ürün Bilgilerini Güncelle</h2>

                                using (Html.BeginForm())
                                {
                                    <div class="form-group">
                                        @Html.HiddenFor(a => a.UrunId)
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Ürün Adı") <br />
                                        @Html.EditorFor(a => a.Ad, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Ürün Tanımı") <br />
                                        @Html.EditorFor(a => a.Tanim, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Ürün Fiyatı") <br />
                                        @Html.EditorFor(a => a.Fiyat, new { @class = "form-control", @type = "number" })
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Ürün Operasyon Bilgisi") <br />
                                        @Html.EditorFor(a => a.OperasyonBilgisi, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-warning">Güncelle</button>
                                    </div>
                                }
                            }
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </section>
        </div>
        <!-- /.col -->
    </div>

</body>