@using Yonetim.UI.MVC.Models
@model List<Depo>


@{
    ViewBag.Title = "DepoListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Data Tables</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- DataTables -->
    <link href="~/Assets/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Depo Yönetimi
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Depo Listesi</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Depo Adı</th>
                                            <th>Deponun Tanımı</th>
                                            <th>Depo Sorumlusu</th>
                                            <th>Yapılacak İşlem</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Depo item in Model)
                                        {
                                        <tr>
                                            <td>@item.Ad</td>
                                            <td>@item.Tanim</td>
                                            <td>@item.Kisi.Ad @item.Kisi.Soyad</td>
                                            <td>@Html.ActionLink("Güncelle", "DepoGuncelle", new { id = item.DepoId }, new { @class = "btn btn-primary" })</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </section>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.content-wrapper -->
    <!-- DataTables -->
    <script src="~/Assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/js/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })</script>
</body>
</html>


